.QuestionBox {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border: 1px solid lightgray;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2rem 1.4rem 2rem lightgray;
  padding: 0.4em 1em;
}

.QuestionBox__user {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.user__username {
  margin-left: 0.8em;
  color: lightgray;
}

.QuestionBox__inputField {
  border: none;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2em;
  border: none;
  font-weight: 700;
  flex: 1;
}

.QuestionBox__inputField::placeholder {
  font-weight: 900;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

.QuestionBox__inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QuestionBox__btn {
  margin-bottom: 2em;
  margin: 0 auto;
  padding: 0.4em 1em;
  border-radius: 10em;
  outline: none;
  border: none;
  background-color: #f33f3f;
  color: white;
  border-color: none;
}

.QuestionBox__btn:hover {
  margin-bottom: 2em;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.4em 1em;
  border-radius: 10em;
  outline: none;
  border: none;
  background-color: #f33f3f;
  color: white;
  border-color: none;
}
